<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<hr>
<%= link_to "Edit", edit_article_path(@article), :class => 'btn btn-warning'%>
<%= link_to "Delete", article_path(@article), 
  method: :delete, data: {confirm: "Вы хотите удалить запись?"}, 
  :class => 'btn btn-danger'%>
<p>

<h4>Comments</h4>
<%= render @article.comments %>
<hr>
<h4>Add a comment:</h4>
<%= render 'comments/form' %>

